<!-- wp:group {"style":{"dimensions":{"minHeight":"100vh"}},"layout":{"type":"flex","orientation":"vertical","verticalAlignment":"center","justifyContent":"center"}} -->
<div class="wp-block-group" style="min-height:100vh"><!-- wp:paragraph {"style":{"typography":{"textAlign":"center","fontWeight":"900","lineHeight":"1"},"elements":{"link":{"color":{"text":"var:preset|color|primary"}}},"css":"font-size: 150px !important;"},"textColor":"primary","fontSize":"hero"} -->
<p class="has-text-align-center has-custom-css has-primary-color has-text-color has-link-color has-hero-font-size" style="font-weight:900;line-height:1;max-width:2000px">404</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"className":"is-style-large"} -->
<p class="is-style-large" style="max-width:2000px">Sorry, the requested content is not found</p>
<!-- /wp:paragraph -->

<!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button {"backgroundColor":"primary","textColor":"surface","metadata":{"name":"Primary Button"},"className":"btn-primary","style":{"border":{"radius":"var:preset|border-radius|full"},"spacing":{"padding":{"top":"var:preset|spacing|25","bottom":"var:preset|spacing|25","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}},"fontSize":"small"} -->
<div class="wp-block-button btn-primary"><a class="wp-block-button__link has-surface-color has-primary-background-color has-text-color has-background has-small-font-size has-custom-font-size wp-element-button" href="/" style="border-radius:var(--wp--preset--border-radius--full);padding-top:var(--wp--preset--spacing--25);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--25);padding-left:var(--wp--preset--spacing--50)">Back To Home</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group -->